:root {
  --bg-color: rgba(141, 145, 199, .5);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);

  font-size: 1em;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
